<a href="https://colab.research.google.com/github/Nayeong127/class2021Spring/blob/main/20210322.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#수업 중 과제
def 이차함수(x,a,b,c):
  y=a*x**2+b*x+c
  return y

이차함수(2,5,4,3)

31

함수: 입력수: 입력->변형->출력->변형->출력

In [ ]:
def add(a,b):
  return a+b

def subtract(a,b):
  return a-b

def multiply(a,b):
  return a*b

def divide(a,b):
  return a/b

In [ ]:
def addition(a,b):
  y=a+b
  return y
#def 함수명(입력 변수) return 다음 출력 값

def func1(x):
  a=1;b=2
  y=a*x+b
  return y

#return 없이 출력값이 안 나옴
def func2(a,b):
  a+b

In [ ]:
func1(2)

4

In [ ]:
func2(3,4)
#결과 안 나와

In [ ]:
g=func2(3,5);print(g)

None

In [ ]:
c = add(1,2); print(c)
c = subtract(1,2); print(c)
c = multiply(1,2); print(c)
c = divide(1,2); print(c)

3
-1
2
0.5