<a href="https://colab.research.google.com/github/Nayeong127/class2021Spring/blob/main/syntax%20%EA%B3%B5%EB%B6%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

1
2
3
4

In [2]:
range(len(a))

range(0, 4)

In [3]:
print(range(len(a)))

range(0, 4)

In [5]:
a[len(a)-3]

2

In [6]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(a[i])

1
2
3
4

In [8]:
a = ['na', 'yeong', 'yu', 'awesome']
for i in a:
    print(i)

na
yeong
yu
awesome

In [9]:
a = ['na', 'yeong', 'yu', 'awesome']
for i in range(len(a)):
    print(a[i])

na
yeong
yu
awesome

In [10]:
a = ["na", "yeong", "yu", "awesome"]
b = [0.3, 0.5, 0.1, 0.1]
for i, a_ in enumerate(a):
    print("{}: {}%".format(a_, b[i]*100))

na: 30.0%
yeong: 50.0%
yu: 10.0%
awesome: 10.0%

In [12]:
a = ["na", "yeong", "yu", "awesome"]
b = [0.3, 0.5, 0.1, 0.1]
for i, a_ in enumerate(a):
  print(i,a_)

0 na
1 yeong
2 yu
3 awesome

In [13]:
a = ["na", "yeong", "yu", "awesome"]
b = [0.3, 0.5, 0.1, 0.1]
for a_, b_ in zip(a, b):
    print("{}: {}%".format(a_, b_*100))

na: 30.0%
yeong: 50.0%
yu: 10.0%
awesome: 10.0%

In [ ]:
a = 0
if a == 0:
    print(a)
else:
    print(a+1)

0

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

In [ ]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']